#root {
  height: 100vh;
}

.app,
.editorContainer {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #02242d;
}

.ant-typography.header__title {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
  color: #fff;
}
